/* Embed code in the <head> of your html

<style>
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Indie+Flower&display=swap');
</style>

<
*/
.akaya-kanadaka-regular {
  font-family: "Akaya Kanadaka", system-ui;
  font-weight: 400;
  font-style: normal;
}

.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

/*link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Macondo&family=Permanent+Marker&display=swap" rel="stylesheet">  */
.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
/* <style>
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Boldonse&family=Geist+Mono:wght@100..900&family=Macondo&family=Permanent+Marker&display=swap');
</style> */
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}
.boldonse-regular {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}
.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* <style>
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Boldonse&family=Geist+Mono:wght@100..900&family=Macondo&family=Noto+Color+Emoji&family=Permanent+Marker&display=swap');
</style> */
.noto-color-emoji-regular {
  font-family: "Noto Color Emoji", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* <style>
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Boldonse&family=Geist+Mono:wght@100..900&family=Macondo&family=Noto+Color+Emoji&family=Permanent+Marker&family=Rubik+Marker+Hatch&display=swap');
</style> */
.rubik-marker-hatch-regular {
  font-family: "Rubik Marker Hatch", system-ui;
  font-weight: 400;
  font-style: normal;
}
/* <style>
@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');
</style> */

.emblema-one-regular {
  font-family: "Emblema One", system-ui;
  font-weight: 400;
  font-style: normal;
}
/* <style>
@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');
</style> */
.matemasie-regular {
  font-family: "Matemasie", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* <style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&display=swap');
</style> */

.noto-sans-symbols-2-regular {
  font-family: "Noto Sans Symbols 2", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* <style>
@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');
</style> */
.macondo-swash-caps-regular {
  font-family: "Macondo Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}
/* <style>
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
</style> */
.reggae-one-regular {
  font-family: "Reggae One", system-ui;
  font-weight: 400;
  font-style: normal;
}
/* <style>
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text&display=swap');
</style> */
.libre-barcode-39-extended-text-regular {
  font-family: "Libre Barcode 39 Extended Text", system-ui;
  font-weight: 400;
  font-style: normal;
}
/* <style>
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
</style> */
.allerta-stencil-regular {
  font-family: "Allerta Stencil", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* <style>
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
</style> */
.fredericka-the-great-regular {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}
/* <style>
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
</style> */
.nothing-you-could-do-regular {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Fuentes descargadas */

@font-face {
  font-family: 'MiFuente';
  src: url('fuentes/Zodiak_Complete/') format('woff2');
}
/* body {
  font-family: 'MiFuente', sans-serif;
} */
