:root {
    --color-secundario: #054393;
    --link-color: #60a5fa;
    --link-hover: #2563eb;
    --color-footer: rgb(250, 248, 248);
    --shadow: 0 4px 10px rgba(11, 25, 153, 0.3);
    --fuente-principal: Arial, sans-serif;
    --fuente2: "Fredericka the Great";
}

/* HEADER */
header {
    grid-area: header;
    background: linear-gradient(135deg, var(--color-secundario), var(--link-color));
    color: var(--color-footer);
    padding: 20px 30px;
    position: sticky;
    top: 60px; /* Ajustado para estar debajo del nav-container */
    z-index: 900; /* Menor que el z-index del nav-container */
    box-shadow: var(--shadow);
    transition: padding 0.3s ease, transform 0.3s ease;
}

header.scrolled {
    padding: 10px 30px;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

header .logo img {
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

header .logo img:hover {
    transform: scale(1.1);
}

header .logo h1 {
    font-family: var(--fuente2);
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-footer);
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    header .logo h1 {
        font-size: 1.2rem;
    }

    header .logo img {
        max-width: 50px;
    }
}